{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}


    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-6">
                <form method="POST">
                    {% csrf_token %}
                    <textarea name="con" cols="50" rows="5" class="form-control" placeholder="Comment here...."></textarea>
                    <div class="text-right mt-2">
                    <input type="submit" value="comment" class="btn btn-outline-success">
                    <input type="reset" value="clear" class="btn btn-outline-danger">
                    </div>
                </form>
                {% if feedbacks %}
                    {% for i in feedbacks %}
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">{{i.content}}</p>
                        <footer class="blockquote-footer">On <cite title="Source Title">{{i.date}}</cite></footer>
                    </blockquote>
                    {%endfor%}
                {% else %}
                <h1 class="text-center">No Comment</h1>
                {% endif %}

            </div>

        </div>

    </div>
    {% endblock%}
    
</body>
</html>